* {
  box-sizing: border-box;
}

header{
  height: 50px;
  border-bottom: 1px solid lightgray;
}

header nav {
  margin-top: 12px;
}

header h5 {
  margin-top: 8px;
}

nav a {
  color: tomato;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  color: lightblue;
}

.column {
  /*background: tomato;*/
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
}

.section {
  min-height: 50vh;
  padding-top:5vh;
}

.main {
  background: lightblue;
}

.photo {
  padding: 0px;
}

button.button-primary,
button.button-primary:hover {
  background-color: lightblue;
  border: none;
}

button.button-primary:hover {
  color: black;
}

.section-sm {
  padding: 10vh 0;
  text-align: center;
  height: 450px;
}

footer {
  background: lightblue;
  padding: 50px;
}
